*~
\#*
.DS_Store

#test-coverage-related files & dirs
*.gcov
*.gcda
*.gcno
*.png
*.pyc
*.json
cover_db/

#the local sandbox build
sandbox/

#any Inline stuff
_Inline/

include/flux/
fluxpipe.egg-info
blib/
data/
local/
