# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
aiohttp
aiosignal
appdirs
appnope
astroid
astropy
asttokens
async-timeout
attrs
backcall
bcrypt
beautifulsoup4
blas
bottleneck
brotli
brotli-bin
brotlipy
bs4
bzip2
c-ares
ca-certificates
cairo
certifi
cffi
charset-normalizer
click
cloudpickle
contourpy
cryptography
cycler
dask
debugpy
decorator
dill
eigen
executing
expat
fontconfig
fonttools
freetype
frozenlist
fsspec
gettext
giflib
glib
graphite2
gst-plugins-base
gstreamer
h5netcdf
h5py
harfbuzz
hdf5
icu
idna
imageio
importlib-metadata
importlib_metadata
ipykernel
ipython
isodate
isort
jedi
jmespath
jpeg
jsonschema
jupyter_client
jupyter_core
kiwisolver
krb5
lazy-object-proxy
lcms2
lerc
libbrotlicommon
libbrotlidec
libbrotlienc
libclang
libcurl
libcxx
libdeflate
libedit
libev
libffi
libgfortran
libgfortran5
libiconv
libllvm12
libnghttp2
libopenblas
libpng
libpq
libsodium
libssh2
libtiff
libwebp
libwebp-base
libxml2
libxslt
llvm-openmp
locket
lxml
lz4-c
matplotlib
matplotlib-base
matplotlib-inline
mccabe
multidict
munkres
ncurses
nest-asyncio
networkx
nspr
nss
numexpr
numpy
numpy-base
opencv
openssl
packaging
pandas
paramiko
parso
partd
patsy
pcre
pexpect
pickleshare
pillow
pip
pixman
platformdirs
ply
pooch
prompt-toolkit
psutil
ptyprocess
pure_eval
pycparser
pyerfa
pygments
pylint
pynacl
pyopenssl
pyparsing
pyqt
pyqt5-sip
pyrsistent
pysocks
python
python-dateutil
pytz
pywavelets
pyyaml
pyzmq
qt-main
qt-webengine
qtwebkit
readline
requests
requests-file
requests-toolbelt
scikit-image
scipy
setuptools
sip
six
soupsieve
sqlalchemy
sqlite
stack_data
statsmodels
tifffile
tk
toml
tomli
tomlkit
toolz
tornado
tqdm
traitlets
typing-extensions
tzdata
urllib3
versioneer
wcwidth
wheel
wrapt
xz
yaml
yarl
zeep
zeromq
zipp
zlib
zstd
